.ForecastDetails {
  display: block;
}

.ForecastDetails .add-label {
  font-size: 18px;
}

.ForecastDetails .add-info-row {
  border: 1px solid white;
}

.ForecastDetails .add-info-row:hover {
  border: 1px solid #86d6e3;
}

.ForecastDetails .add-weather-pic {
  height: 35px;
}
